@media (max-width: 899px) {

  .final-cta-inner {
    align-items: start;
    flex-direction: column;
  }
}

@media (max-width: 680px) {

  .final-cta {
    padding-bottom: 42px;
  }

  .final-cta-inner {
    min-height: 430px;
    padding: 30px 24px;
    border-radius: 22px;
  }
}
